.heading{
    padding: 10rem 0rem;
}
h1{
    color: rgb(20,154,238);
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.head-para{
    line-height: 1.5;
    color: #e65500;
    font-weight: bold;
    font-size: 1.5rem;
}

.home-icons{
    margin-top:100px ;
}
.header-image{
    height: 90%;
    width: 100%;
}

@media (max-width: 1065px) {
    h1{
        font-family: 'Yellowtail', cursive;
    }     
    .head-para{
        margin: 0;
    }
    
    .card{
        margin: 30px;
    }
    .footer-p{
        margin-left: 10%;
    }
}
